@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/public/client-bg.jpg) !important;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.cropped-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
  background: linear-gradient(0deg, #6c5224, #c2a261) border-box;
  border-radius: 50%;
}

.cropped-image:hover {
  background: linear-gradient(0deg, #906f2c, #eed196) border-box;
  opacity: 1.5;
}

.cropped-image img:hover {
  filter: brightness(0.8);
}

.button-row {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 10%,  #c3a568 50%, transparent 90%);
  border-image-slice: 1;
}

.cropped-image img {
  width: 115%;
  height: 115%;
  object-fit: cover;
  object-position: -5px -5px;
}

.playButton:hover {
  color: #f0e6d2;
}

.playButton {
  margin-top: 10px;
  color: #f0e6d2;
  padding: 20px 50px 20px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 0 0 0 transparent;
  transition: all ease 1s;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner {
  /* 
  content: " ";
  display: block;
  
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #01698b;
  border-color: #01698b transparent #08abac transparent; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-button-container {
  position: relative;
  width: 300px; /* Set to the width you want for your button */
  height: 80px; /* Set to the height you want for your button */
  overflow: hidden; /* This will clip the video to the size of the button */
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1; /* Initially hidden */
  transition: all 0.3s ease-in-out; /* Transition effect */
  z-index: 0;
  opacity: 0.7;
  transform: scale(-1);
}

.video-button-container:hover .video-background {
  opacity: 1;
}

.video-button {
  pointer-events: all;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.video-button-container-red {
  position: relative;
  width: 300px; /* Set to the width you want for your button */
  height: 80px; /* Set to the height you want for your button */
  overflow: hidden; /* This will clip the video to the size of the button */
}

.video-background-red {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Transition effect */
  z-index: 0;
  transform: scale(-1);
}

.video-button-container-red:hover .video-background-red {
  opacity: 1.5; /* Visible on hover */
}

.video-button-red {
  pointer-events: all;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    255,
    0
  ); /* Semi-transparent background to make the text more readable */
  color: white;
  border: none;
  outline: none;
}

.ring-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%; /* adjust based on your needs */
  height: 65%; /* adjust based on your needs */
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.ring-dashed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 180s linear infinite; /* Apply the animation */
}

/* Define the animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.inner-ring {
  position: absolute;
  top: 50%;
}

.inner-ring-left {
  left: 32%;
  transform: translate(-50%, -50%);
}

.inner-ring-right {
  right: 32%;
  transform: translate(50%, -50%);
}

.outer-ring {
  position: absolute;
  top: 50%;
}

.outer-ring-left {
  left: calc(32% - 12px);
  transform: translate(-50%, -50%);
}

.outer-ring-right {
  right: calc(32% - 12px);
  transform: translate(50%, -50%);
}

.red-divider {
  transform: scale(-1);
}

.inner-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}

.role-icon {
  width: 18px;
  height: 18px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.win {
  background-color: #0a96aa;
}

.loss {
  background-color: #be1e37;
}

.empty {
  background-color: grey;
}

.first-icon {
  
}